*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;

}

h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;

}

/*Navbar Styles*/

a{
	text-decoration: none;
	color: #060505;
}

a:hover{
	text-decoration: none;
	color:#313a3d;
}
header{
	background-color: #FBDB14;
	width: 100%;
  overflow: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1rem;
}

/*.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}
*/
/*.brand span{
	color: crimson;
}*/

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li:nth-child(5){
	animation-delay: 2s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #A31D34;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		/*height: 100vh;*/
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	/*nav ul li{
		margin-top: 5rem;
	}*/

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	/*.brand{
		font-size: 5rem;
	}
  */
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}

/*End of Navbar Styles */

/*About Section*/

#about{
	padding-top: 30px;
	height:500px;
	background-image: url('../images/about-bg.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#about h1{
	color:#A31D34;
}

.about-info{
	width:50%;
	margin-left:20px;
	margin-top: 30px;
	margin-bottom : 30px;	
}



/*End of About Section*/

/*Service Section Styles*/


#services {
	background-color: #FBDB14;
	
}

#services h1{
	text-align: center;
	padding-top: 30px;
	color:#060505;

}
 .wrapper {
 	padding-left: 150px;
 	 text-align: center;
	 margin: 0px auto;
/*	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-around;
	 align-items: center;*/
	/* width: 930px;
	 height: 500px;*/
}
 .wrapper::before, .wrapper::after {
	 content: "";
	 display: table;
	 clear: both;
}
 .wrapper .panel {
	 position: relative;
	 margin: 50px 20px;
	 padding: 0 20px 20px;
	 overflow: hidden;
	 float: left;
	 width: 320px;
	 height: 400px;
	 text-align: center;
	 background: #f1f1f1;
	 border: 1px solid #000;
	 box-sizing: border-box;
	 transition: border 200ms ease;
	 cursor: pointer;
}
 .wrapper .panel img  {
	 display: block;
	 margin: 20px auto;
	 text-align: center;
}

.wrapper .panel li{
	list-style: none;
	}

 .wrapper .panel h3 {
	 display: block;
	 margin-bottom: 15px;
	 color: #A31D34;
	 font-size: 18px;
	 font-weight: 700;
	 text-align: center;
	 text-shadow: 0 2px 1px #fff;
}
}
 .wrapper .panel p {
	 font-size: 14px;
	 text-shadow: 0 1px 1px #fff;
}
 .wrapper .panel .slide {
	 position: absolute;
	 bottom: -450px;
	 left: 0;
	 z-index: 100;
	 padding: 20px;
	 height: 100%;
	 width: 100%;
	 text-align: left;
	 background: #060505;
	 box-sizing: border-box;
	 transition: all 300ms 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
 .wrapper .panel .slide h4 {
	 margin-bottom: 20px;
	 text-align: left;
	 text-shadow: none;
	 font-size: 18px;
	 font-weight: 600;
	 color: #FBDB14;

	 /*Here*/
}
 .wrapper .panel .slide ul li {
	 padding: 5px 5px 5px 8px;
	 line-height: 24px;
	 font-size: 13px;
	 color: #f0f0f0;
	 border-bottom: 1px solid #A31D34;
}
 .wrapper .panel .slide ul li:last-child {
	 border: 0;
}
 .wrapper .panel .slide ul li .fa {
	 padding-right: 5px;
	 color: #39cc62;
}
 .panel:hover {
	 border: 1px solid #A31D34;
}
 .panel:hover .slide {
	 bottom: 0;
	 cursor: pointer;
}
 .animated {
	 animation-duration: 500ms;
	 animation-fill-mode: both;
	 animation-delay: 1s;
}
/* @keyframes slideInDown {
	 0% {
		 -webkit-transform: translateY(-120%);
		 -ms-transform: translateY(-120%);
		 transform: translateY(-120%);
		 visibility: visible;
	}
	 100% {
		 -webkit-transform: translateY(0);
		 -ms-transform: translateY(0);
		 transform: translateY(0);
	}
}
 .slideInDown {
	 -webkit-animation-name: slideInDown;
	 animation-name: slideInDown;
}*/
 p.title {
	 margin: 0 auto;
	 padding: 0;
	 font-size: 14px;
	 line-height: 16px;
	 font-weight: 400;
	 height: 36px;
	 width: 890px;
	/* background: #013d47;*/
	 border: 1px solid #060505;
	 color: #fff;
	 text-align: center;
	 border-radius: 5px;
}
 


/*End of Service Section*/



/*Client Section*/

#clients{
	text-align: center;
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
}

#clients, h1{
	padding-bottom: 40px;
	color:#FBDB14;
}



/*End of Client Section*/

/*Contact Section*/

#contact{
	background: #f5f5f5;
	padding-top: 50px;
}

.insta{
		 margin-left: 110px;
	/*margin-top:80px;
	margin-left:100px;
	margin-bottom:20px;*/
}

.insta h1{
	text-align: center;
	 font-size: 2.5rem;
	 color:#A31D34;
}


#contact-us {
	 /*margin: 60px auto 120px;*/
	 text-align: center;
	 width: 100%;
	 max-width: 1100px;
}
#contact-us h1 {
	color:#A31D34;
	 margin-bottom: 40px;
	 font-size: 2.5rem;
	 text-transform: uppercase;
	 font-weight: 100;
}
 form {
	 width: 58.3333333333%;
	 margin: 0 auto;
}
 form .field {

	 width: 100%;
	 position: relative;
	 margin-bottom: 48px;
}
 form .field label {
	 text-transform: uppercase;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background: #060505;
	 color:#FBDB14;
	 width: 100%;
	 padding: 18px 0;
	 font-size: 1.2em;
	 letter-spacing: 0.075em;
	 -webkit-transition: all 333ms ease-in-out;
	 -moz-transition: all 333ms ease-in-out;
	 -o-transition: all 333ms ease-in-out;
	 -ms-transition: all 333ms ease-in-out;
	 transition: all 333ms ease-in-out;
}
 form .field label + span {
	 opacity: 0;
	 color: white;
	 display: block;
	 position: absolute;
	 top: 12px;
	 left: 7%;
	 font-size: 2.2em;
	 text-shadow: 1px 2px 0 #cd6302;
	 -webkit-transition: all 333ms ease-in-out;
	 -moz-transition: all 333ms ease-in-out;
	 -o-transition: all 333ms ease-in-out;
	 -ms-transition: all 333ms ease-in-out;
	 transition: all 333ms ease-in-out;
}
 form .field input[type="text"], form .field textarea {
	 border: none;
	 background: #e8e9ea;
	 width: 80.5%;
	 margin: 0;
	 padding: 18px 0;
	 padding-left: 19.5%;
	 color: #313a3d;
	 font-size: 1.2em;
	 letter-spacing: 0.05em;
	 text-transform: uppercase;
}
 form .field input[type="text"]#msg, form .field textarea#msg {
	 height: 30px;
	 margin-bottom: 20px;
	 resize: none;
	 -webkit-transition: all 333ms ease-in-out;
	 -moz-transition: all 333ms ease-in-out;
	 -o-transition: all 333ms ease-in-out;
	 -ms-transition: all 333ms ease-in-out;
	 transition: all 333ms ease-in-out;
}

#msg{
height:100px;
}

 form .field input[type="text"]:focus, form .field textarea:focus, form .field input[type="text"].focused, form .field textarea.focused {
	 outline: none;
}
 form .field input[type="text"]:focus#msg, form .field textarea:focus#msg, form .field input[type="text"].focused#msg, form .field textarea.focused#msg {
	 padding-bottom: 150px;
}
 form .field input[type="text"]:focus + label, form .field textarea:focus + label, form .field input[type="text"].focused + label, form .field textarea.focused + label {
	 width: 18%;
	 background: #FBDB14;
	 color: #313a3d;
}
 form .field input[type="text"].focused + label, form .field textarea.focused + label {
	 color: #fd9638;
}
 form .field:hover label {
	 width: 18%;
	 background: #313a3d;
	 color: white;
}
 form input[type="submit"] {
 	width: 100%;
	 background: #FBDB14;
	 color:#313a3d;
	 -webkit-appearance: none;
	 border: none;
	 text-transform: uppercase;
	 position: relative;
	 padding: 13px 50px;
	 font-size: 1.2em;
	 letter-spacing: 0.1em;
	 font-weight: 300;
	 -webkit-transition: all 333ms ease-in-out;
	 -moz-transition: all 333ms ease-in-out;
	 -o-transition: all 333ms ease-in-out;
	 -ms-transition: all 333ms ease-in-out;
	 transition: all 333ms ease-in-out;
}
 form input[type="submit"]:hover {
	 background: #313a3d;
	 color: #FBDB14;
}
 form input[type="submit"]:focus {
	 outline: none;
	 background: #000;
}



/*End of Contact Section*/